.Campaign {
  margin-right: 1rem;
  flex: 1;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.Campaign.active {
  box-shadow: 0px 0px 2px 3px rgb(249, 4, 125);
}

.Campaign-name {
  font-weight: bold;
  /*padding-bottom: 1rem;*/
}

.Campaign-image {
  min-width: 120px;
  padding-bottom: 100%;
  width: 100%;
  /*width: 80%;*/
  background: white;
  /*border-radius: 10px;*/
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Campaign-logo {
  /*width: 100%;*/
  padding: 1rem;
}

.UserImage {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
